<div class="content">
	<div class="div1">
		<h1>RENOVACION DEL DOCENTE</h1>
	</div>
	<div class="div2">
		<div>
			<div>
				<!-- <h4>Basic mat-select</h4> -->
				<mat-form-field appearance="fill">
					<mat-label>Programa </mat-label>
					<mat-select [disabled]="disableSelectPrograma " [(value)]="SelectPrograma">
						<mat-option (click)="sPrograma(SelectPrograma)" *ngFor="let programa of programas"
							[value]="programa.idOrdenamiento">
							{{ programa.orden }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<!-- <h4>Basic mat-select</h4> -->
				<mat-form-field appearance="fill">
					<mat-label>Filial</mat-label>
					<mat-select [disabled]="disableSelectFilial" [(value)]="SelectFilial">
						<mat-option (click)="sFilial(SelectFilial)" *ngFor="let filial of filials"
							[value]="filial.cPerJuridica">
							{{ filial.cUniOrgNombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<!-- <h4>Basic mat-select</h4> -->
				<mat-form-field appearance="fill">
					<mat-label>Escuelas</mat-label>
					<mat-select [disabled]="disableSelectEscuela" [(value)]="SelectEscuela">
						<mat-option (click)="sEscuela(SelectPrograma,SelectEscuela)" *ngFor="let escuela of escuelas"
							[value]="escuela.nIntCodigo">
							{{ escuela.cIntNombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div>
				<!-- <h4>Basic mat-select</h4> -->
				<mat-form-field appearance="fill">
					<mat-label>Periodo</mat-label>
					<mat-select [disabled]="disableSelectPeriodo" [(value)]="SelectPeriodo">
						<mat-option (click)="sPeriodo(SelectPrograma,SelectEscuela,SelectPeriodo)"
							*ngFor="let periodo of periodos" [value]="periodo.nPrdCodigo">
							{{ periodo.cPrdDescripcion }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
	<div class="div3">
		<div>
			<p>LISTA DE DOCENTES EVALUADOS</p>
		</div>
		<div>
			<!-- <h4>Basic mat-select</h4> -->
			<mat-form-field appearance="fill">
				<mat-label>Seleccionar Docente</mat-label>
				<mat-select>
					<mat-option *ngFor="let nombre of nombres" [value]="nombre.value">
						{{ nombre.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div class="div4">
		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tabla1>
				<ng-container matColumnDef="idRenovacionDoc">
					<th mat-header-cell *matHeaderCellDef>idRenovacionDoc</th>
					<td mat-cell *matCellDef="let docente">{{ docente.idRenovacionDoc }}</td>
				</ng-container>

				<ng-container matColumnDef="ordenMerito">
					<th mat-header-cell *matHeaderCellDef>ordenMeriton</th>
					<td mat-cell *matCellDef="let docente">{{ docente.ordenMerito }}
					</td>
				</ng-container>

				<ng-container matColumnDef="cPerCodigoDoc">
					<th mat-header-cell *matHeaderCellDef>cPerCodigoDoc</th>
					<td mat-cell *matCellDef="let docente">{{ docente.cPerCodigoDoc }}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="columnas"></tr>
				<tr mat-row *matRowDef="let row; columns: columnas"></tr>
			</table>
			<mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>
